@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

$grey: #ccc;
$white: #fff;
$green: #25C968;
$green-light: #17c2a4;
$purple: #87509c;
$purple-dark: #643a79;
$orange: #eb7d4b;
$orange-dark: #c86a40;
$pink: #d74680;
$blue:#3c5499;
$blue-dark: #273a71;
$blue-darkest: #344b8e;
$cyan: #30bae7;
$cyan-dark: #299ec5;

body {
    font-family: 'Titillium Web', sans-serif;
    color: $white;
}