<!DOCTYPE html>
<html>

<head>
  <link rel="alternate" href="https://example.com" hreflang="en-us" />
  <title>Hello world!</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content="" />
  <meta property="og:url" content="https://example.com" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="https://example.com/fav/android-chrome-192x192.png" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./fav/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./fav/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./fav/favicon-16x16.png') %>">
  <link rel="mask-icon" href="<%= require('./fav/safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header>This is Header</header>

  <main>
    This is body
  </main>

  <footer>This is footer</footer>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143456151-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-143456151-1');
  </script> -->

</body>

</html>